
<div class="navbar-fiorenza">
  <!-- Logo -->
  <a href="https://backseo.github.io/DIVESHOP" class="navbar-fiorenza-brand">
  <%#= image_tag "{#}", alt: "alttext" %>
  </a>
  <%= render partial: 'components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-fiorenza-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-fiorenza-item">
      <div class="dropdown">
        <img src="images/lewagon2.gif" class="avatar dropdown-toggle" id="navbar-fiorenza-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-fiorenza-dropdown-menu">
          <li><a href="https://www.lewagon.com/fr">lien 1</a></li>
          <li><a href="#">lien 2</a></li>
          <li><a href="#">lien 3</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-fiorenza-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-fiorenza-dropdown-menu">
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </div>
</div>
