<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Simone Cenedese</h1>
        <p>The glass factory Simone Cenedese, founded in Murano in the 70s by  his father Giovanni,
        becomes soon as a qualified expression of the artistic glass island of excellence.
        Over the years, glass Master Simone Cenedese develops its own style with references to
        contemporary, creating works of absolute aesthetic value: from lighting to objects is a continuous flowering of new ideas.
        For technical mastery and beauty of his compositions, Simone Cenedese becomes a reference point for many international designers , who entrust their concept to the creative inspiration of this Murano glass artist. At the same time, the “creative workshop” get also noticed for the production of monumental glass works, by  colors and shapes magically innovative, which are exhibited in prestigious public spaces, outdoor and indoor and in trendy concept store.
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="a-img">
        <img class="img-responsive " src="https:unsplash.it/400/400">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="a-img text-center">
        <img class="img-responsive " src="https:unsplash.it/450/450">
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <p>Today the company is a true expression of the Murano glass art, appreciated all over the
        world as an original interpreter of a great tradition.

        Our Murano glass blown collections are available in different unique and exclusive colors.
        Normally each collection is presented in a specific range of colors highlighting its beauty.
        On specific request it is possible to customize the collection with the colors you find left side.
        The same colors may also be requested with special and rich finishing such as gold or silver leaf or other specific finishing in order to obtain the collection even more exclusive.

        Some of the colors compositions need special precious minerals that's why we kindly suggest to ask for quotation in case you choose a different standard color of the collection.

        Since it is impossible to represent exactly the color of glass, colors in the pictures are only an indication and not binding.

        We choose and buy directly on the international market the minerals composing our colors; we mix and fuse them following the ancient mineral compositions handed down from one generation to another, from father to son.
        We can obtain in this way a first quality glass, which will keep the peculiarity of brightness, transparency and purity in the time.
      </p>
    </div>

  </div>
</div>
