<div class="container">
  <div class="wrapper">
    <div class="c-header">
      <h1>Formulaire de contact</h1>
      <p>Pour toute demande d'informations merci d'entrer en contact avec moi.</p>
    </div>
  </div>
  <div class="form-wrapper">
    <div class="form group">
      <input type="text" Placeholder="Nom" style="color: black">
      <input type="text" Placeholder="Prénom" style="color: black">
    </div>
  </div>
  <div class="form-wrapper">
    <div class="form group">
      <input type="text" Placeholder="Email" style="color: black"><br>
    </div>
  </div>
  <div class="form-wrapper">
    <div class="form group">
      <textarea Placeholder="Message" style="color: black" cols="35" wrap="soft"></textarea>
    </div>
  </div>
</div><!-- Fin container -->
