<div class="container">
  <div class="wrapper">
    <div class="c-header">
      <h1>Formulaire de contact.</h1>
      <p>Pour toute demande d'informations merci d'entrer en contact avec moi.</p>
    </div>
  </div>
</div>
