.banner {
  position: relative;
  display: block;
  background: url(images/bg_banner.jpg);
  background-size: cover;
  border: 1px red solid;
  height: 80vh;
  text-transform: uppercase;
  text-align: center;
}

.banner-content {
  position: relative;
  top: 150px;
  font-weight: 900;
}
