/* Main navbar */
.navbar-fiorenza {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  transition: all 0.3s ease;
  font-family: 'Charm', cursive;
  text-transform: uppercase;
  z-index: 1000;
}

/* Logo */
.navbar-fiorenza-brand img {
  height: 60px;
  left: 0px;
  z-index: -1;
}

/* User Avatar */
.navbar-fiorenza .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Right section */
.navbar-fiorenza-right {
  display: flex;
  align-items: right;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-fiorenza-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Dropdown menu */
.navbar-fiorenza-dropdown-menu li {
  margin-top: 15px;
  box-shadow: 1px 1px 4px purple;
  background: green;
}
.navbar-fiorenza-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-fiorenza-dropdown-menu li > a:hover {
  background: transparent !important;
  color: blue !important;
  transition: all ease 800ms;
}

